{{> header}}
{{#if isAuth}}
    <section id="viewCatalog" class="background-img">
        <a href="#/addFlight" class="add-flight">Add Flight +</a>

        <div class="added-flights">
            {{#each flights}}
                {{#if isChecked}}

                    <a href="#/details/{{_id}}" class="added-flight">
                        <img src="{{img}}" alt="" class="picture-added-flight">
                        <h3>{{destination}}</h3>
                        <span>from {{origin}}</span><span>{{departureDate}}</span>
                    </a>
                {{/if}}
            {{/each}}

        </div>
    </section>
{{/if}}
{{> footer}}