<main class="mt-3 mb-5">
    <hr class="hr-2 bg-mishmash" />
    <div class="channel-main-data-holder w-75 mx-auto d-flex justify-content-between">
        <h3 class="text-center text-mishmash">Channel: {{channel.name}}</h3>
        <h3 class="text-center text-mishmash">Type: {{channel.type}}</h3>
        <h3 class="text-center text-mishmash">Followers: {{channel.followers.length}}</h3>
    </div>
    <hr class="hr-2 bg-mishmash" />
    <h3 class="text-center text-mishmash">Tags</h3>
    <div class="channel-tags-holder w-75 mx-auto">
        <h6 class="text-center text-mishmash">{{channel.tags}}</h6>
    </div>
    <hr class="hr-2 bg-mishmash" />
    <h3 class="text-center text-mishmash">Description</h3>
    <div class="product-description-holder">
        <p class="text-center text-mishmash mt-4">{{channel.description}}</p>
    </div>
    <hr class="hr-2 bg-mishmash" />
    <div class="button-holder d-flex justify-content-center">
        <button class="btn bg-mishmash text-white" onclick="location.href='javascript: history.go(-1)'">Back</button>
    </div>
</main>