{{#if user}}
<section class="actions">
    <form method="POST" action="/refill">
        <h2>Salary time? Refill your account amount.</h2>
        <input type="text" id="refill-amount" name="refillAmount">
        <button type="submit">Refill</button>
    </form>
    <div>
        <h2>New expense comming up?</h2>
        <a href="/expense/create">Add it now</a>
    </div>
</section>

<hr class="separator">
{{#if user.expenses}}
<table class="expenses">
    <thead>
        <tr>
            <th>Date</th>
            <th>Merchant</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
        </tr>

    </thead>
    <tbody>
        {{#each user.expenses}}
        <tr>
            <td>
                <img src="/images/date.png" />
                <p>{{this.formattedDate}}</p>
            </td>
            <td>
                <p>{{this.merchant}}</p>

                {{#if this.report}}
                <div class="report">
                    <a href="/expense/report/{{this._id}}">Report</a>
                </div>
                {{/if}}
            </td>
            <td>
                <img src="/images/amount.png" alt="">
                <p>лв {{this.total}}</p>
            </td>
            <td>
                <img src="/images/category.png" alt="">
                <p>{{this.category}}</p>
            </td>
            <td>
                <img src="/images/hastag.png" alt="">
                <p>{{this.description}}</p>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h1 class="no-expenses">No expenses founded so far.. <span>GOOD JOB!</span></h1>
{{/if}}
{{else}}

<p class="guest-message">MoneyGone? The best expense tracker tool of all time!<br>Аre you new here?
    <a href="/register">Register</a> yourself!
</p>

{{/if}}