<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MoneyGone</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link href="/css/notifications.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li>
                        <a id="home" class="left-floated" href="/">MoneyGone</a>
                    </li>
                </ul>
                <ul>
                    {{#if user}}
                    <li>
                        <a class="right-floated" href="/profile/{{user._id}}">[{{user.username}} profile]</a>
                    </li>
                    <li>
                        <a class="right-floated" href="/logout">Logout</a>
                    </li>
                    {{else}}
                    <li>
                        <a class="right-floated" href="/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </header>

        <main>
        {{#if globalError}}
        <div id="notifications">
            {{#each globalError}}
            <p id="notification-message">{{this}}</p>
            {{/each}}
        </div>
        {{/if}}

        {{{body}}}
        </main>
    </div>

    <footer>
        <!-- <a href="#home"> &uarr; Back to top &uarr;</a> -->
        <img src="https://softuni.bg/Content/images/about-page/softuni.png" alt="">
        <p>Software University - JavaScript Back-End September 2019 Season</p>
        <p>@2019 MoneyGone. All Rights Reserved &copy;</p>
    </footer>
</body>

</html>