<main>
  <h1>Register</h1>
  <div class="form">
    <form method="POST" action="/register">
      <label for="name">Username:</label>
      <input type="text" name="username" value="{{username}}"><br>

      <label for="name">Password:</label>
      <input type="password" name="password" value="{{password}}"><br>

      <label for="name">First name:</label>
      <input type="text" name="firstName" value="{{firstName}}"><br>

      <label for="name">Last name:</label>
      <input type="text" name="lastName" value="{{lastName}}"><br>

      <label for="name">Profile Picture:</label>
      <input type="text" name="profilePicture" value="{{profilePicture}}"><br>

      <input type="submit" value="Register">
    </form>
  </div>
</main>