{{> header}}
{{#if isCreator}}
    <section class="detailsMyPet">
        <h3>{{name}}</h3>
        <p>Pet counter: <i class="fas fa-heart"></i> {{likes}}</p>
        <p class="img"><img src="{{imageURL}}"></p>
        <form action="#/details/{{id}}" method="POST">
            <textarea type="text" name="description">{{description}}</textarea>
            <button class="button"> Save</button>
        </form>
    </section>
{{else}}
    <section class="detailsOtherPet">
        <h3>{{name}}</h3>
        <p>Pet counter: {{likes}} <a href="#/like/{{id}}">
            <button class="button"><i class="fas fa-heart"></i>
                Pet
            </button>
        </a>
        </p>
        <p class="img"><img src="{{imageURL}}"></p>
        <p class="description">{{description}}</p>
    </section>
{{/if}}


{{> footer}}

