<form method="POST" action="/expense/create">
    <h1>Expense</h1>

    <div class="form-control">
        <label for="merchant">Merchant*</label>
        <input id="merchant" type="text" placeholder="Shoes" name="merchant" value="{{expense.merchant}}">
    </div>

    <div class="form-control">
        <label for="total">Total*</label>
        <input id="total" type="text" placeholder="123.00" name="total" value="{{expense.total}}">
        <select name="vault" id="vault">
            <option value="bgn">BGN лв</option>
        </select>
    </div>

    <div class="form-control">
        <label for="category">Category*</label>
        <select name="category" id="category">
            <option disabled selected value="default">Select category...</option>
            {{#if options}}
            {{#each options}}
            {{#if this.selected}}
            <option value="{{this.title}}" selected>{{this.title}}</option>
            {{else}}
            <option value="{{this.title}}">{{this.title}}</option>
            {{/if}}
            {{/each}}
            {{else}}
            <option value="Advertising">Advertising</option>
            <option value="Benefits">Benefits</option>
            <option value="Car">Car</option>
            <option value="Equipment">Equipment</option>
            <option value="Fees">Fees</option>
            <option value="Home Office">Home Office</option>
            <option value="Insurance">Insurance</option>
            <option value="Interest">Interest</option>
            <option value="Labor">Labor</option>
            <option value="Maintenance">Maintenance</option>
            <option value="Materials">Materials</option>
            <option value="Meals and Entertainment">Meals and Entertainment</option>
            <option value="Office Supplies">Office Supplies</option>
            <option value="Other">Other</option>
            <option value="Professional Services">Professional Services</option>
            <option value="Rent">Rent</option>
            <option value="Taxes">Taxes</option>
            <option value="Travel">Travel</option>
            <option value="Utilities">Utilities</option>
            {{/if}}
        </select>
    </div>

    <div class="form-control">
        <label for="description">Description*</label>
        <input id="description" type="text" placeholder="Shoes description..." name="description"
            value="{{expense.description}}">
    </div>

    <div class="form-control">
        <label for="report">Report: </label>
        {{#if expense.report}}
        <input type="checkbox" id="report" name="report" checked />
        {{else}}
        <input type="checkbox" class="form-check-input" id="check-box" name="report">
        {{/if}}
    </div>

    <button type="Submit">Save</button>

</form>