<section class="expense-report">

    <h1>ID: {{expense.id}}</h1>
    <div class="report-date">
        <img src="/images/date.png" alt="">
        <p>{{expense.formattedDate}}</p>
    </div>

    <div class="report-category">
        <img src="/images/amount.png" alt="">
        <p>{{expense.category}} - лв {{expense.total}}</p>
    </div>

    <div class="report-merchant">
        <p>{{expense.merchant}}</p>
    </div>

    <div class="report-description">
        <img src="/images/hastag.png" alt="">
        <p>{{expense.description}}</p>
    </div>

    <div class="report-action">
        <a disabled href="/expense/delete/{{expense._id}}">Stop tracking</a>
    </div>
</section>